
*{
	margin: 0;
}

body
{
	font-family: "Roboto", Arial, sans-serif;
	color: #666666;
	background: #fff;
	text-align: justify;
	margin: 0;
}

div.page{
	margin: 0;
	//padding: 0 auto;
}



/* Title */
header{
	max-width: 1250px;
	color: white;
	margin: 0 auto;
	//background-image: url('../images/SHC8.jpg');
	//background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,1)), url('../images/SHC8.jpg');
	//background-position: center; 
}

li.subdescription{
	padding-left: 20px;
	list-style-position: inside;
	font-size: 1.5rem;
	font-style: italic; 
}


/* Slideshow container */
.slideshow-container {
  	/*max-width: 1000px;*/
  	/*position: relative;*/
  	position: relative;
  	margin: 0 auto;
}

/* Hide the images by default */
.mySlides {
  	display: none;
  	text-align: center;
  	position: relative;
}

img{
	width: 100%;
    height: 300px;
	object-fit: cover;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.1);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.caption {
	color: white;
	text-decoration: none;
  	position: absolute;
  	bottom: 5%;
  	right: 10%;
	padding: 10px;
  	background-color: rgba(0,0,0,0.5)
}

.caption:hover {
	font-weight: bold;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}


.name{
  	position: absolute;
  	top: 5%;
  	left: 10%;
  	max-width: 80%;
  	padding-left: 10px;
	font-size: 3rem;
	text-justify: none;
	background-color: rgba(0,0,0,0.5);
}

.description{
	text-justify: none;
	margin-top: 20px;
	font-size: 2rem;
	line-height:2rem;
}


/* Menu organisation */
nav{
	top: 0; /* Needed with sticky ? */
	position: -webkit-sticky; /* To be always visible */
	position: sticky;		  /* To be always visible */
	/*border-bottom: 2px solid gray;*/
	max-width: 800px;
	margin: 0 auto;
	z-index: 100; /* To put it in front*/
}

nav ul li.active {
}

div.nav-wrapper{
	background-color: white;
}

ul.menu {
}

li.menu{
	width: 16.666%;
  	text-align: center;	
  	background-color: white;
}

a.menu{
  	text-transform: uppercase;
  	color: black;
	text-decoration: none;
  	width: 100%;
}

li a.menu:hover{
	background-color: white;
}

li.active a:hover {
	background-color: rgba(0,0,0,0.1);
}

hr.menu {
	width: 16.666%;
	height: 8px;
	/*background: linear-gradient(rgb(0, 0, 0, 0), rgb(84, 110, 122, 0.5) 70%, rgb(84, 110, 122, 1.0));*/
	background: rgb(84, 110, 122, 1.0);
	border: 0;
	position: absolute;
	bottom: 0px;
	transition: .6s ease-in-out;
	pointer-events: none;
}

li.nav1:hover ~ hr{
	margin-left: 0;
}

li.nav2:hover ~ hr{
	margin-left: 16.666%;
}

li.nav3:hover ~ hr{
	margin-left: 33.333%;
}

li.nav4:hover ~ hr{
	margin-left: 50%;
}

li.nav5:hover ~ hr{
	margin-left: 66.666%;
}

li.nav6:hover ~ hr{
	margin-left: 83.333%;
}

/*Main page*/
.main{
	padding: 50px 10px 50px 10px;
	margin: 0 auto;
	max-width: 800px;
	font-style: normal; 
	position: relative;
}

.side{
	padding-top: 60px;
	margin: 0 auto;
	font-style: normal; 
}


/*Footer*/
footer{
	height: 50px;
	background-color: rgba(240,248,255, 0.6);
	margin: 0 auto;
	clear: both;
	max-width: 800px;
	display: block;
}

.in_footer{
	padding-top: 20px;
	text-align: center;
}


/* CV Part */
.position{
	color: #000080; /* dark blue */
}

.CV{
    padding-left:0;
    font-size: 1.4rem;
}


.date {
	font-style: italic; 
    padding-left:0px !important;

}
.position {
	display: flex;
}

.place{
    font-weight: bold;
    color: #000080; /* dark blue */
}

.CV_descr{
	margin-bottom: 20px;
}

.no-padding-left{
    padding-left:0px !important;
}


/*Pub Part*/
li.pub{
    padding-left:0;
	/*max-width: 1200px;*/
}

ol.pub{
    padding-left:0;
    /*max-width: 1200px;*/
}

.title{
	font-family: "Times New Roman", Georgia, serif;
	margin-top: 1rem;
	font-weight: big; 
	color: #000080; /* dark blue */
	padding: 0;
	line-height: 2rem;
}

.authors{
	font-family: "Times New Roman", Georgia, serif;
	font-weight: normal; 
	font-style: italic; 
	color:	dimgray;
	padding: 0;
	line-height: 2rem;
}

.journal{
	font-weight: bold; 
	font-style: italic; 
	color:	black;
	padding: 0;
	line-height: 1.6rem;
}



strong{
	font-weight: bold !important; 
}

.strong{
    font-weight: bold; 
}


.left{
	min-width: 70%;
	float: left;
}

.contact_content{
	line-height: 1.6rem;
	padding-left: 100px;
    font-size: 1.2rem;
}

/* iframe for Open Street Map*/
iframe{
	margin: 20px;
	width: 90%;
	height: 300px;
}

figcaption{
 	text-align: center;
}

li.collaborators{
	list-style-type: disc !important;
	margin-left: 30px;
}

li.bullet{
	list-style-type: disc !important;
	margin-left: 30px;
}
