body
{
	font-family: "Roboto", Arial, sans-serif;
	color: #666666;
	background: #fff;
	text-align: justify;
	margin: 0;
}

div.page{
	margin: 0;
	//padding: 0 auto;
}



/* Title */
header{
	max-width: 1250px;
	color: white;
	margin: 0 auto;
	//background-image: url('../images/SHC8.jpg');
	//background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,1)), url('../images/SHC8.jpg');
	//background-position: center; 
}

li.subdescription{
	padding-left: 20px;
	list-style-position: inside;
	font-size: 1.5rem;
	font-style: italic; 
}


/* Slideshow container */
.slideshow-container {
  	/*max-width: 1000px;*/
  	/*position: relative;*/
  	position: relative;
  	margin: 0 auto;
}

/* Hide the images by default */
.mySlides {
  	display: none;
  	text-align: center;
  	position: relative;
}

img{
	width: 100%;
    height: 300px;
	object-fit: cover;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.1);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.caption {
	color: white;
	text-decoration: none;
  	position: absolute;
  	bottom: 5%;
  	right: 10%;
	padding: 10px;
  	background-color: rgba(0,0,0,0.5)
}

.caption:hover {
	font-weight: bold;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}


.name{
  	position: absolute;
  	top: 5%;
  	left: 10%;
  	max-width: 80%;
  	padding-left: 10px;
	font-size: 3rem;
	text-justify: none;
  	//width: intrinsic;           /* Safari/WebKit utilisent un nom non-standard */
  	//width: -moz-max-content;    /* Firefox/Gecko */
  	//width: -webkit-max-content; /* Chrome */	
	//position: -webkit-sticky;
	//position: sticky;
	background-color: rgba(0,0,0,0.5);
	//font-family: "Times New Roman", Georgia, serif;
}

.description{
	text-justify: none;
	margin-top: 20px;
  	//width: intrinsic;           /* Safari/WebKit utilisent un nom non-standard */
  	//width: -moz-max-content;    /* Firefox/Gecko */
  	//width: -webkit-max-content; /* Chrome */	
	font-size: 2rem;
	//color:black;
	line-height:2rem;
	//background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0.5));
}


/* Menu organisation */
nav{
	top: 0; /* Needed with sticky ? */
	position: -webkit-sticky; /* To be always visible */
	position: sticky;		  /* To be always visible */
	border-bottom: 2px solid gray;
	max-width: 700px;
	margin: 0 auto;
}

div.nav-wrapper{
	background-color: white;
}


a.menu{
  	text-transform: uppercase;
  	color: black;
	text-decoration: none;
}



/*Main page*/
.main{
	padding: 50px 10px 50px 10px;
	margin: 0 auto;
	max-width: 800px;
	font-style: normal; 
}

.side{
	padding-top: 60px;
	margin: 0 auto;
	font-style: normal; 
}

/*Footer*/
footer{
	height: 50px;
	background-color: rgba(240,248,255, 0.6);
	margin: 0 auto;
	clear: both;
	max-width: 800px;
	display: block;
}

.in_footer{
	padding-top: 20px;
	text-align: center;
}

/* CV Part */
.position{
	/*font-family: "Times New Roman", Georgia, serif;*/
	/*font-size: 1.0rem;*/
	color: #000080; /* dark blue */
	/*border: solid 1px;*/
	//padding: 0;
	//line-height: 1.2rem;
}

ul.CV{
	  list-style-type: circle;
}

li.CV{
	margin-left: 20px;
	/*font-family: "Times New Roman", Georgia, serif;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 80%;
}

.date {
	display: flex;
	font-style: italic; 
	inline-size: 100px;
}
.position {
	display: flex;
	inline-size: 150px;
}

.place{
	inline-size: 200px;
}

.CV_descr{
	padding-left: 100px;
	margin-bottom: 20px;
}

/* Publication PART :
li.pub{
	margin: 10px 40px;
}
*/

.title{
	font-family: "Times New Roman", Georgia, serif;
	margin-top: 1rem;
	font-weight: big; 
	font-size: 1.2rem;
	color: #000080; /* dark blue */
	/*border: solid 1px;*/
	padding: 0;
	line-height: 1.2rem;
}

.authors{
	font-family: "Times New Roman", Georgia, serif;
	font-weight: normal; 
	font-size: 0.8rem;
	font-style: italic; 
	color:	dimgray;
	padding: 0;
	line-height: 1.2rem;
}

.journal{
	font-size: 0.8rem;
	font-weight: bold; 
	font-style: italic; 
	color:	black;
	padding: 0;
	line-height: 1.0rem;
}

strong{
	font-weight: bold !important; 
}

.left{
	min-width: 70%;
	float: left;
}

.contact_content{
	line-height: 1.2rem;
	padding-left: 100px;
}

/* iframe for Open Street Map*/
iframe{
	margin: 20px;
	width: 90%;
	height: 300px;
}